@import "macchiato.css";

* {
  font-family: "Hack Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  border-radius: 8px;
  transition-property: background-color;
  transition-duration: .5s;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @mauve;
}

.modules-left, 
.group-spotify,
.modules-center,
.modules-right {
  padding: 0 10px;
}

#workspaces button {
  padding: 0 2px;
  color: @mauve;
}

#workspaces button.empty {
  color: @surface1;
}

#workspaces button.active {
  color: @mauve;
}

#workspaces button.focused {
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  color: @red;
}

#workspaces,
#mpris,
#privacy,
#clock,
#tray,
#custom-sound-output,
#pulseaudio ,
#cpu,
#memory,
#battery,
#disk,
#network {
  padding: 0 14px;
  margin: 0 4px;
  background-color: @base;
  border-radius: 8px;
}

#mpris {
  color: @text;
}

#privacy {
  padding: 0 12px;
  background-color: @red;
}

#privacy-item {
  color: @base;
}

#custom-spotify-icon,
#custom-spotify,
#custom-spotify-player {
  background-color: @base;
}

#custom-spotify {
  padding-left: 11px;
  margin-left: -12px;
}

#custom-spotify-icon {
  padding-left: 14px;
  padding-right: 18px;
  border-radius: 8px;
  color: #1db954;
}

#custom-spotify-player {
  padding: 0 14px;
  border-radius: 0 8px 8px 0;
}

#custom-spotify-player.playing {
  color: @red;
}

#custom-spotify-player.paused {
  color: @sapphire;
}

#clock {
  color: @text;
}

#custom-sound-output {
  font-size: 18px;
  color: @sapphire;
}

#pulseaudio {
  color: @mauve;
}

#pulseaudio.muted {
  color: @red;
}

#cpu {
  color: @peach;
}

#memory {
  color: @maroon;
}

#battery {
  color: @text;
}

#battery.charging {
  color: @green;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#disk {
  color: @teal;
}

#network {
  color: @pink;
}

#network.disconnected {
  color: @red;
}
